MPTUNNEL_SECRET=replace-with-shared-secret
MPTUNNEL_BIND_PATHS=tcp://0.0.0.0:443,tcp://[::]:443,udp://0.0.0.0:443,udp://[::]:443
MPTUNNEL_OUTBOUND=direct
MPTUNNEL_SERVICE_MODE=true
MPTUNNEL_SUPERVISE=true
